
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(123, 181, 235) ;
}

.contenedor {
    width: 500px;
    height: 500px;
    background-color: gray;
    border: 5px green solid;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    place-content: center;
    gap: 10px;
}
.item {
    border: greenyellow 5px solid;
    display: grid;
    place-items: end;
}
.item p {
    margin: 0;
    width: 50px;
    height: 50px;
    place-self: end;
    background-color: aquamarine;
}