.contenedor{
    background: rgba(0, 0, 255, 0.425);
    border: 1px solid rgb(0, 0, 73);
    display: grid;
    grid-template-rows: 100px 200px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 15px;

}

.item{
    background-color: whitesmoke;
    border: 2px solid gray;
    font-size: 4rem;
}
