/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Otros
*/

:root{
    /*colores*/
    --bitcoin-orange: #F7931A;
    --soft-organge: #FFE9D5;
    --secondari-blue:#1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black:  #201E1C;
    --black:  #282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white: #FFF;
}

*{
    box-sizing: border-box; /*toma en cuenta margen y padding*/
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center; /*centrar elemento con contenedor display flex*/
}

.header--title-container{
    width: 90%; /*usar un 90% entre 288 px y 900px*/
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;

}

.header--title-container h1{
    font-size: 2.4rem; /*24 px*/
    font-weight: bold;
    line-height: 2.6rem; /*espacio entre lineas*/
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-organge);
}

.header--title-container .header--button{
    position: absolute; /*mover el contenido en top,botton,left, right*/
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*sombras del boton*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/assets/icons/down-arrow.svg');
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom:50px;
    background-image: url('/assets/assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container--text{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;

}

.main-exchange-container--text h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    height: 2.6rem;
    color: var(--black);
}
.main-exchange-container--text p{
    margin-bottom: 50px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-tables-container{
    display: grid;
    place-content: center;
    font-family: "inter", sans-serif;
}
/*tabla de monedas*/
.Currency-table--title{
    text-align: left;
    padding: 10px;
    color: var(--bitcoin-orange);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.34rem;
    margin-bottom: 2px;

}

.main-tables-container .main-tables-container--t1, .main-tables-container .main-tables-container--t2{
    display: grid;
    grid-template-columns: 101px 95px;
    grid-template-rows: repeat(4, 39px);
    background-color: var(--just-white);
    border-radius: 5px;
    margin-bottom: 12px;
        
}
.main-tables-container--t1 .item, .main-tables-container--t2 .item_2{
    display: grid;
    place-items: center;
    color: var(--grey);
    font-size: 1.6rem;
    border: 1px solid var(--off-white);
}

.main-tables-container--t1 .item-number, .main-tables-container--t2 .item-number{
    color: rgba(117, 117, 117, 1);
}

.item:nth-child(2) span, .item:nth-child(6) span, .item:nth-child(8) span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-tables-container--t1 .item_2 span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-tables-container .currency-table-date{
    padding: 9px;
    width: 173px;
    height: 31px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--soft-organge);
    border-radius: 5px;
    font-size: 1.1rem;
} 

/*Tabla de comisiones*/
.commission-table--title{
    text-align: left;
    padding: 10px;
    color: var(--secondari-blue);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.34rem;
    margin-bottom: 2px;

}

.main-tables-container .commission-table-date{
    padding: 9px;
    width: 173px;
    height: 31px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--soft-blue);
    border-radius: 5px;
    font-size: 1.1rem;
} 
/*Detalles del producto*/
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);
}

.main-product-detail--logo-detail{
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url('/assets/assets/icons/batata.svg');
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -12px;
}

.product-detail-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: auto;
    text-align: center;
}

.product-detail-title h2{
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.product-detail-title p{
    color: rgba(128, 128, 128, 1);
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 32px;
}
/*Tarjetas de detalles del producto*/
.product-detail--card1{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    min-height: 152px;
    margin: 15px auto;
    padding:15px ;
    background-color: var(--warm-black);
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(97, 97, 97, 0.16);
}
/*tarjeta clock*/
.product-detail--card1 .clock{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    background-image: url('/assets/assets/icons/clock.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card1 .eye{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    background-image: url('/assets/assets/icons/eye.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card1 .money{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    background-image: url('/assets/assets/icons/dollar-sign.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card1 .check{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    background-image: url('/assets/assets/icons/check-circle.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card1 .product-card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white) ;
}

.product-detail--card1 .product-card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;

}

.hero_container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    padding: 5px;
    background-image: url('assets/assets/img/bitcoinbaby2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.hero_container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.main-plans-container .main-plans--title{
    width: 90px;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.main-plans--title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-plans--title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
    
}